body{
    background-image: url("../images/homepage.jpg");
    background-color: lightgray;
    background-size: cover;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: medium;
    left: 47%;
    right: 53%;
    position: fixed;
    bottom: 30px;
}
.button:hover{
    background-color:#f7ebb5;
    transition: 0.7s;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    color: white;
}