        body{
            background-image: url("../images/lobby.jpg");
            background-color: lightgray;
            background-size: cover;
            width: auto;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1,p{
            text-align: left;
            padding-left: 100px;
            font-size: 60px;
        }
        .list{
            list-style-type: none;
            line-height: 3;
            font-size: 1.5rem;
            font-weight: bold;
            color: black;
            padding-left: 150px;
            padding-top: 100px;
        }
        .li1{
            list-style-image: url("../icons/book.png");
            padding: 5px 10px;
        }
        .li2{
            list-style-image: url("../icons/console.png");
            padding: 5px 10px;
        }
        .li3{
            list-style-image: url("../icons/cinema.png");
            padding: 5px 10px;
        }
        a:link { 
            color: black;
            background-color: transparent;
            text-decoration: none;
        }
        a:visited {
            color: black;
            text-decoration: none;
        }
        a:hover {
            color: aqua;
            text-decoration: underline;
        }
        a:active {
            text-decoration: none;
        }
        footer{
            position: fixed;
            bottom: 0;
            color: white;
        }